body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  
}

.hero-image {
  background-image:url(https://mkumarsaini00.gitlab.io/assignments/HTMLStaticPages Assignment/images/mountain1.jpg);
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.icon{
	 width: 30px;
         height: 2px;
         background-color: red;
         margin: 5px 0;
         float: right;
         clear:both;
    }
.colorbackground{
 
  height:1500px;
  width:100%;
  margin:0px;
  background-color:#ffcc25;
}
.textbackground{
	text-align: center;
  	position: absolute;
  	top: 150%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	color: black;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.formformat{
     text-align:left;
     position:relative;
     top:60%;
     left:40%;
     color:black;
 }
#name,#email,#subject{
    width:40%;
    height:50%;
    padding: 12px 20px;
    margin: 8px 0;
    font-style:italic;
    font-size:14;
 }
#message{
width: 300px;
  height: 100px;
  border: 1px solid blue;
  box-sizing: border-box;
}
	
